{% extends 'myProjects/layout2.html' %}
{% load static %}

{% block title %}Мои проекты{% endblock %}


{% block active %}
<a class="nav-link" href="{% url 'home' %}">Главная</a>
<a class="nav-link" href="{% url 'blog' %}">Блог</a>
<a class="nav-link" href="{% static 'aboutMy/img/Logo.png' %}">Обо мне</a>
<a class="nav-link active" href="{% url 'my_projects' %}">Проекты</a>
<a class="nav-link" href="{% url 'contacts' %}">Контакты</a>
{% endblock %}


{% block database %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Album example</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for el in event %}
        <div class="col">
          <div class="card shadow-sm">
            <a href="{% url 'project-details' el.id %}"><img class="card-img-top" src="{{ el.event_image.url }}"></a>
            <div class="card-body">
              <p class="card-text">{{ el.event_text }}</p>
              <div class="d-flex justify-content-between align-items-center"></div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}


{% block content %}
{% endblock %}

