{% extends 'myProjects/layout2.html' %}
{% load static %}

{% block title %}{{ posts.title }}{% endblock %}


{% block active %}
<a class="nav-link" href="{% url 'home' %}">Главная</a>
<a class="nav-link" href="{% url 'blog' %}">Блог</a>
<a class="nav-link" href="{% static 'aboutMy/AboutMe.txt' %}" download="{% static 'aboutMy/AboutMe.txt' %}">Обо мне</a>
<a class="nav-link active" href="{% url 'my_projects' %}">Проекты</a>
<a class="nav-link" href="{% url 'contacts' %}">Контакты</a>
{% endblock %}


{% block database %}
{% endblock %}


{% block content %}
  <div role="main" class="pl-3">
    <div class="album py-5 bg-light">
      <img src="{{ projects_str.event_image.url }}" heigth="600" width="600" class="rounded mx-auto d-block">
      <p style="font-size: 22px">{{projects_str.event_text }}</p>
    </div>
  </div>
{% endblock %}