{% extends 'myProjects/layout2.html' %}
{% load static %}

{% block title %}Мой блог{% endblock %}


{% block active %}
<a class="nav-link" href="{% url 'home' %}">Главная</a>
<a class="nav-link active" href="{% url 'blog' %}">Блог</a>
<a class="nav-link" href="{% static 'aboutMy/AboutMe.txt' %}" download="{% static 'aboutMy/AboutMe.txt' %}">Обо мне</a>
<a class="nav-link" href="{% url 'my_projects' %}">Проекты</a>
<a class="nav-link" href="{% url 'contacts' %}">Контакты</a>
{% endblock %}


{% block database %}
{% endblock %}


{% block content %}
  <div role="main" class="pl-3">
    <div class="album py-5 bg-light">
      <h1 class="ml-3 pb-5" style="text-align: center">Недавние посты</h1>
      {% for el in posts %}
        <h2 class="text-center">{{ el.title }}</h2>
        <img src="{{ el.image.url }}" heigth="300" width="300" class="rounded mx-auto d-block">
        <p class="text-center" style="font-size: 18px">{{ el.continue_post }}</p>
        <a href="{% url 'blog-detail' el.id %}" class="btn btn-warning d-grid gap-2 col-2 mx-auto">Подробнее</a>
        <p class="text-center" style="font-size: 14px">Дата публикации: {{ el.date }}</p>
      <br/>
      <br/>
      <br/>
      <br/>
      {% endfor %}
    </div>
  </div>
{% endblock %}