{% extends 'aboutMy/layout.html' %}

{% block title %}Контакты{% endblock %}


{% block active1 %}
<li class="nav-item">
        <a href="{% url 'home' %}" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><i class="bi bi-house"></i></svg>
          Главная
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'blog' %}" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><i class="bi bi-chat-dots"></i></svg>
          Блог
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><i class="bi bi-file-person"></i></svg>
          Обо мне
        </a>
      </li>
      <li>
        <a href="{% url 'my_projects' %}" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="20"><i class="bi bi-kanban"></i></svg>
          Проекты
        </a>
      </li>
      <li>
        <a href="{% url 'contacts' %}" class="nav-link text-white active">
          <svg class="bi me-2" width="16" height="16"><i class="bi bi-telephone"></i></svg>
          Контакты
        </a>
      </li>
{% endblock %}


{% block content %}
    <div class="features">
        <h1>Контакты</h1>
        <p>Контакты</p>
    </div>
{% endblock %}
